<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <!-- WhatsApp -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="wa.me" />
        </intent>

        <!-- Telegram -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="t.me" />
        </intent>

        <!-- Discord -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="discord.com" />
        </intent>

        <!-- Line -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="line" />
        </intent>
    </queries>

</manifest>